/* Link */
.link {
    font-size: 16px;
    text-decoration: none;
    color: @blue-52;
    transition: @transition-color;

    &:focus,
    &:hover {
        color: @blue-0a;
    }

    &:active {
        color: @blue-29;
    }
}
