/* Table */
.table {
    font-size: 16px;
    color: @black-00;

    &__head {
        border-bottom: 2px solid @gray-97;
    }

    &__row {
        display: flex;
        align-items: center;

        & + & {
            border-top: @border;
        }
    }

    &__th,
    &__td {
        padding: 10px;
        word-break: break-all;
    }

    &__th {
        font-weight: bold;
    }

    &._currency-rate & {

        &__th,
        &__td {
            &:nth-child(1) {
                width: 32%;
            }

            &:nth-child(2) {
                width: 32%;
            }

            &:nth-child(3) {
                width: 36%;
            }
        }
    }

    &._history-events & {

        &__th,
        &__td {
            text-align: center;

            &:nth-child(1) {
                width: 5%;
            }

            &:nth-child(2) {
                width: 25%;
            }

            &:nth-child(3) {
                width: 15%;
            }

            &:nth-child(4) {
                width: 30%;
            }

            &:nth-child(5) {
                width: 10%;
            }

            &:nth-child(6) {
                width: 15%;
            }
        }
    }
}
