<article class="records-page">
    <ak-layout-page title="Страница записей">
        <div class="records-page__layout">
            <div class="records-page__column">
                <ak-form-edit-category (onCategoryEdit)="updateViewCategory($event)" [categories]="categories"></ak-form-edit-category>
            </div>
            <div class="records-page__column">
                <ak-form-add-category (onCategoryAdd)="updateListCategories($event)"></ak-form-add-category>
            </div>
            <div class="records-page__column">
                <ak-form-add-entry [categories]="categories"></ak-form-add-entry>
            </div>
        </div>
    </ak-layout-page>
</article>
