<div class="currency-rate">
    <ak-common-panel title="Курс">
        <div class="currency-rate__content" common-panel-content>
            <div class="table _currency-rate">
                <div class="table__head">
                    <div class="table__row">
                        <div class="table__th">Валюта</div>
                        <div class="table__th">Курс</div>
                        <div class="table__th">Дата</div>
                    </div>
                </div>
                <div class="table__body">
                    <div class="table__row">
                        <div class="table__td">RUB</div>
                        <div class="table__td">1</div>
                        <div class="table__td">{{currency.date | date:"dd.MM.yyyy"}}</div>
                    </div>
                    <div *ngFor="let item of currencies" class="table__row">
                        <div class="table__td">{{item}}</div>
                        <div class="table__td">{{currency.rates[item]}}</div>
                        <div class="table__td">{{currency.date | date:"dd.MM.yyyy"}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ak-common-panel>
</div>
