<div class="currency-rate">
    <ak-common-panel title="Курс">
        <div class="currency-rate__content" common-panel-content>
            <div class="table _currency-rate">
                <div class="table__head">
                    <div class="table__row">
                        <div class="table__th">Валюта</div>
                        <div class="table__th">Курс</div>
                        <div class="table__th">Дата</div>
                    </div>
                </div>
                <div class="table__body">
                    <div class="table__row">
                        <div class="table__td">доллар</div>
                        <div class="table__td">24</div>
                        <div class="table__td">11.12.2017</div>
                    </div>
                    <div class="table__row">
                        <div class="table__td">доллар</div>
                        <div class="table__td">24</div>
                        <div class="table__td">11.12.2017</div>
                    </div>
                    <div class="table__row">
                        <div class="table__td">доллар</div>
                        <div class="table__td">24</div>
                        <div class="table__td">11.12.2017</div>
                    </div>
                </div>
            </div>
        </div>
    </ak-common-panel>
</div>
