<div class="expenses">
    <ak-common-panel title="Расходы">
        <div common-panel-additional-block class="expenses__total-balance">
            <span class="expenses__total-balance-text">Общий остаток:</span>
            <span class="expenses__total-balance-amount">78 999.21 Р</span>
        </div>
        <div class="expenses__content" common-panel-content>
            <ul class="expenses__list">
                <li class="expenses__item">
                    <div class="expenses__progress-bar">
                       <ak-progress-bar title="Название категории 1" type="success" value="50"></ak-progress-bar>
                    </div>
                    <div class="expenses__parameter">
                        <span class="expenses__parameter-current">300.00</span>
                        <span class="expenses__parameter-text">из</span>
                        <span class="expenses__parameter-total">300.00</span>
                        <span class="expenses__parameter-text">| осталось</span>
                        <span class="expenses__parameter-remnant">700.00</span>
                        <span class="expenses__parameter-text">(руб.)</span>
                    </div>
                </li>
                <li class="expenses__item">
                    <div class="expenses__progress-bar">
                       <ak-progress-bar title="Название категории 2" type="warning" value="50"></ak-progress-bar>
                    </div>
                    <div class="expenses__parameter">
                        <span class="expenses__parameter-current">600.00</span>
                        <span class="expenses__parameter-text">из</span>
                        <span class="expenses__parameter-total">300.00</span>
                        <span class="expenses__parameter-text">| осталось</span>
                        <span class="expenses__parameter-remnant">700.00</span>
                        <span class="expenses__parameter-text">(руб.)</span>
                    </div>
                </li>
                <li class="expenses__item">
                    <div class="expenses__progress-bar">
                       <ak-progress-bar title="Название категории 3" type="danger" value="50"></ak-progress-bar>
                    </div>
                    <div class="expenses__parameter">
                        <span class="expenses__parameter-current">700.00</span>
                        <span class="expenses__parameter-text">из</span>
                        <span class="expenses__parameter-total">300.00</span>
                        <span class="expenses__parameter-text">| осталось</span>
                        <span class="expenses__parameter-remnant">700.00</span>
                        <span class="expenses__parameter-text">(руб.)</span>
                    </div>
                </li>
            </ul>
        </div>
    </ak-common-panel>
</div>
