<div class="expenses">
    <ak-common-panel title="Расходы">
        <div common-panel-additional-block class="expenses__total-balance">
            <span class="expenses__total-balance-text">Общий остаток:</span>
            <span class="expenses__total-balance-amount">{{bill.value | number:"1.2"}} RUB</span>
        </div>
        <div class="expenses__content" common-panel-content>
            <ul class="expenses__list">
                <li *ngFor="let item of categories" class="expenses__item">
                    <div class="expenses__progress-bar">
                        <ak-progress-bar [title]="item.name" [value]="item.costPercent"></ak-progress-bar>
                    </div>
                    <div class="expenses__parameter">
                        <span class="expenses__parameter-cost">{{item.cost | number:"1.2"}}</span>
                        <span class="expenses__parameter-text">из</span>
                        <span class="expenses__parameter-limit">{{item.limit | number:"1.2"}}</span>
                        <span class="expenses__parameter-text">| осталось</span>
                        <span class="expenses__parameter-remainder">{{item.remainder | number:"1.2"}}</span>
                        <span class="expenses__parameter-text">(руб.)</span>
                    </div>
                </li>
            </ul>
        </div>
    </ak-common-panel>
</div>
