<div class="form-add-category">
    <ak-common-panel title="Добавить категорию">
        <div class="form-add-category__content" common-panel-content>
            <div class="form">
                <div class="form__row">
                    <label class="form-field _required">
                        <span class="form-field__label">Введите название</span>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input
                                    type="text"
                                    class="form-text__input"
                                    name="name-category"
                                >
                            </div>
                        </div>
                    </label>
                </div>
                <div class="form__row">
                    <label class="form-field _required">
                        <span class="form-field__label">Введите лимит</span>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input
                                    type="text"
                                    class="form-text__input"
                                    name="limit"
                                >
                            </div>
                        </div>
                    </label>
                </div>
                <div class="form__toolbar">
                    <button
                        class="button"
                    >Добавить</button>
                </div>
            </div>
        </div>
    </ak-common-panel>
</div>
