<div class="history-events">
    <ak-common-panel title="Список событий">
        <ak-history-filter-events
            common-panel-additional-block
            [listFieldsEvent]="listFieldsEvent"
        ></ak-history-filter-events>
        <div class="history-events__content" common-panel-content>
            <div class="table _history-events">
                <div class="table__head">
                    <div class="table__row">
                        <div *ngFor="let item of listFieldsEvent" class="table__th">{{item}}</div>
                    </div>
                </div>
                <div class="table__body">
                    <div *ngFor="let item of moneyEvents; let idx = index" class="table__row">
                        <div class="table__td">{{idx + 1}}</div>
                        <div class="table__td">{{item.amount | number:"1.2"}}</div>
                        <div class="table__td">{{item.date | slice:0:10}}</div>
                        <div class="table__td">{{item.categoryName}}</div>
                        <div class="table__td">
                            <span *ngIf="item.type === type.income; else outcome" class="tag">Доход</span>
                            <ng-template #outcome>
                                <span class="tag _danger">Расход</span>
                            </ng-template>
                        </div>
                        <div class="table__td">
                            <a href="" class="link">Открыть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ak-common-panel>
</div>
