<div class="auth-main">
    <p class="auth-main__subtitle">Войдите для работы</p>
    <div class="auth-main__content">
        <div class="auth-main__form">
            <form class="form">
                <div class="form__row">
                    <div class="form-field">
                        <label for="email" class="form-field__label">Email</label>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input type="text" id="email" class="form-text__input" name="email" placeholder="Введите ваш email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form-field">
                        <label for="password" class="form-field__label">Password</label>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input type="text" id="password" class="form-text__input" name="email" placeholder="Введите ваш пароль">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="auth-main__toolbar">
                <button class="button">Войти</button>
            </div>
        </div>
    </div>
    <footer class="auth-main__footer">
        <span class="auth-main__footer-text">Нет аккаунта?</span>
        <a href="" class="auth-main__footer-link link">Зарегистрироваться!</a>
    </footer>
</div>
