<div class="auth-main cssload-wrapper">
    <p class="auth-main__subtitle">Регистрация для получения доступа</p>
    <ak-cssload *ngIf="loading"></ak-cssload>
    <div class="auth-main__content" [class._visibility-hidden]="loading">
        <div class="auth-main__form">
            <form [formGroup]="formRegistration" (ngSubmit)="onSubmit()" class="form">
                <div class="form__row">
                    <label class="form-field _required">
                        <span class="form-field__label">Имя</span>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input
                                    autofocus
                                    formControlName="name"
                                    type="text"
                                    class="form-text__input"
                                    name="name"
                                    placeholder="Введите имя"
                                >
                            </div>
                        </div>
                        <div *ngIf="formRegistration.get('name').invalid && formRegistration.get('name').touched" class="form-field__message">
                            <span
                                *ngIf="formRegistration.get('name').hasError('required')"
                                class="form-field__message-text"
                            >
                                Имя не может быть пустым
                            </span>
                        </div>
                    </label>
                </div>
                <div class="form__row">
                    <label class="form-field _required">
                        <span class="form-field__label">Email</span>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input
                                    formControlName="email"
                                    type="email"
                                    class="form-text__input _email"
                                    name="email"
                                    placeholder="Введите email"
                                >
                                <div class="form-text__loading">
                                    <ak-cssload [hidden]="!formRegistration.controls.email.pending" field="true"></ak-cssload>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formRegistration.get('email').invalid && formRegistration.get('email').touched" class="form-field__message">
                            <span
                                *ngIf="formRegistration.get('email').hasError('required')"
                                class="form-field__message-text"
                            >
                                Email не может быть пустым
                            </span>
                            <span
                                *ngIf="formRegistration.get('email').hasError('pattern')"
                                class="form-field__message-text"
                            >
                                Введите корректный email
                            </span>
                            <span
                                *ngIf="formRegistration.get('email').hasError('forbiddenEmail')"
                                class="form-field__message-text"
                            >
                                Email уже существует
                            </span>
                        </div>
                    </label>
                </div>
                <div class="form__row">
                    <label class="form-field _required">
                        <span class="form-field__label">Пароль</span>
                        <div class="form-field__field">
                            <div class="form-text">
                                <input
                                    formControlName="password"
                                    type="password"
                                    class="form-text__input"
                                    name="password"
                                    placeholder="Введите пароль"
                                >
                            </div>
                        </div>
                        <div *ngIf="formRegistration.get('password').invalid && formRegistration.get('password').touched" class="form-field__message">
                            <span
                                *ngIf="formRegistration.get('password').hasError('required')"
                                class="form-field__message-text"
                            >
                                Пароль не может быть пустым
                            </span>
                            <span
                                *ngIf="formRegistration.get('password').hasError('minlength')"
                                class="form-field__message-text"
                            >
                                Минимальная длина пароля - {{minPasswordLength}} мимволов. Сейчас - {{formRegistration.get('password').errors.minlength.actualLength}}
                            </span>
                        </div>
                    </label>
                </div>
                <div class="form__toolbar">
                    <button
                        [disabled]="!formRegistration.valid"
                        class="button"
                    >Зарегистрироваться</button>
                </div>
                <div class="auth-main__message">
                    <ak-message *ngIf="message" [type]="message.type" [text]="message.text"></ak-message>
                </div>
            </form>
        </div>
    </div>
    <footer class="auth-main__footer">
        <span class="auth-main__footer-text">Уже есть аккаунт?</span>
        <a routerLink="/login" class="auth-main__footer-link link">Войти!</a>
    </footer>
</div>
