<header class="main-header">
    <div class="main-header__inner grid">
        <a routerLink="/" class="main-header__logotype">
            <ak-logo></ak-logo>
            <span class="main-header__logotype-text">Бухгалтерия</span>
        </a>
        <time class="main-header__time">{{date | date:"dd.MM.yyyy"}}</time>
        <button (click)="onToggleMenu()" class="button _text main-header__user">
            <span class="main-header__user-text">Здравствуйте, {{user.name}}</span>
            <div class="main-header__menu">
                <ak-dropdown [hidden]="!isOpenMenu" (onItemSelect)="onLogout()" [menu]="menu"></ak-dropdown>
            </div>
        </button>
    </div>
</header>
