// Colors
@black-00: #000000;

@blue-0a: #0a9fbf;
@blue-29: #296e7d;
@blue-52: #52bcd3;

@gray-97: #97a4b1;
@gray-ee: #eeeeee;

@green-24: #248700;

@purple-49: #49166d;

@red-fd: #fde9ec;
@red-ff: #ff0000;

@white-ff: #ffffff;
