<article class="history-page">
    <ak-layout-page title="Страница истории">
        <ak-cssload *ngIf="loading; else content"></ak-cssload>
        <ng-template #content>
            <div class="history-page__layout">
                <div class="history-page__column">
                    <ak-history-chart [data]="chartData"></ak-history-chart>
                </div>
                <div class="history-page__column">
                    <ak-history-events [categories]="categories" [moneyEvents]="moneyEvents"></ak-history-events>
                </div>
            </div>
        </ng-template>
    </ak-layout-page>
</article>
